<%- include('./partials/loader') %>
<div class="room">
  <%- include('./partials/modals/cancel-modal.ejs') %><%- include('./partials/modals/permission-modal.ejs') %> <%-
  include('./partials/lobby') %>
  <div class="grid room__grid">
    <div class="video grid__video">
      <div class="video__wrapper">
        <video class="video__player" style="display: none" id="admin-video" autoplay></video>
        <audio class="video__audio" id="admin-audio" autoplay></audio>
        <div class="video__btns">
          <div class="video__volume-container">
            <img class="icon" id="video-volume-img" src="img/sound-off.svg" alt="Громкость" />
            <input class="video__volume" id="video-volume" type="range" />
          </div>
        </div>
        <div class="video__cover">
          <div class="video__cover-title" id="video-cover"><%= props.userName %></div>
        </div>
      </div>
    </div>
    <div class="participants grid__participants" style="display: none">
      <div class="participants__swiper" id="participants-swiper">
        <div class="swiper-wrapper" id="participants-grid"></div>
      </div>
    </div>
  </div>
  <%- include('./partials/chat') %>
  <div class="members panel" data-user-name="<%= props.userName %>">
    <div class="panel__header">
      <h2 class="panel__title">Участники видеоконференции</h2>
      <button class="btn-close" id="btn-members-close" type="button"></button>
    </div>
    <div class="members__search">
      <input class="input form__input" style="margin-top: 0" placeholder="Поиск..." id="members-search" type="text" name="members-search" />
      <button
        class="button controls__control button--ghost ripple"
        style="flex-shrink: 0; width: 4rem; height: 4rem"
        id="btn-members-search"
      >
        <img class="icon members__search-icon" src="img/search.svg" alt="Поиск" />
        <div class="ripple__container"></div>
      </button>
    </div>
    <div class="panel__section">
      <p class="panel__text">Список всех участников видеоконференции</p>
    </div>
    <div class="members__list"></div>
  </div>
  <div class="info panel">
    <div class="panel__header">
      <h2 class="panel__title">О видеоконференции</h2>
      <button class="btn-close" id="btn-info-close" type="button"></button>
    </div>
    <div class="panel__section">
      <p class="panel__text">Пожалуйста, отправляйте данные для подключения только доверенным пользователям</p>
    </div>
    <p style="font-weight: 500">Строка подключения</p>
    <div class="panel__section">
      <p class="panel__text">Вставьте строку подключения в соответствующее поле на странице соединения</p>
    </div>
    <div style="font-size: 1.3rem; padding: 2rem 0 2rem 0; border-top: 1px solid #f1f3f4; border-bottom: 1px solid #f1f3f4">
      <%= props.link.split('/').slice(-1).toString() %>
    </div>
    <p style="font-weight: 500">Ссылка для подключения</p>
    <div class="panel__section">
      <p class="panel__text">Вставьте ссылку для подключения в строку поиска в любом поисковике</p>
    </div>
    <div style="font-size: 1.3rem; padding: 2rem 0 2rem 0; border-top: 1px solid #f1f3f4; border-bottom: 1px solid #f1f3f4">
      <%= props.link %>
    </div>
  </div>
  <div class="share-link-modal">
    <div class="share-link-modal__header">
      <h2 class="share-link-modal__title">Информация о конференции</h2>
      <button class="btn-close" id="btn-share-link-close"></button>
    </div>
    <div class="share-link-modal__body">
      <div class="share-link-modal__link" id="join-link"><%= props.link %></div>
    </div>
    <div class="share-link-modal__footer">
      <button class="button btn-clipboard button--ghost ripple" data-clipboard-target="#join-link">
        <img class="icon" src="img/copy.svg" alt="handup" style="margin-right: 0.5rem" />
        Скопировать ссылку
        <div class="ripple__container"></div>
      </button>
    </div>
  </div>
  <div class="controls room__controls">
    <div class="list controls__list list--left-content">
      <button class="button controls__control button--ghost ripple" id="btn-toggle-share-modal" data-ripple-color="light">
        <img class="icon controls__icon" src="img/about-grid.svg" alt="share-link-toggle" />
        <div class="ripple__container"></div>
      </button>
      <div id="conf-name" style="color: white; font-size: 1.4rem; font-weight: bold; border-left: 1px solid white; padding-left: 1.6rem">
        Видеотрансляция
      </div>
    </div>
    <div class="list controls__list">
      <button class="button controls__control ripple" id="btn-hand-up" data-ripple-color="light">
        <img class="icon" src="img/handup.svg" alt="handup" />
        <div class="ripple__container"></div>
      </button>
      <button class="button controls__control ripple" id="btn-screen-share" data-ripple-color="light" style="background: #db4e66">
        <img class="icon" src="img/share-off.svg" alt="share" />
        <div class="ripple__container"></div>
      </button>
      <button class="button controls__control ripple" id="btn-toggle-microphone" data-ripple-color="light" style="background: #db4e66">
        <img class="icon" src="img/micro-off.svg" alt="microphone" />
        <div class="ripple__container"></div>
      </button>
      <button class="button controls__control ripple" id="btn-toggle-video" data-ripple-color="light" style="background: #db4e66">
        <img class="icon" src="img/video-off.svg" alt="camera" />
        <div class="ripple__container"></div>
      </button>
      <button class="button controls__control controls__btn-leave ripple" id="btn-leave" data-ripple-color="light">
        <img class="icon" src="img/leave.svg" alt="leave" />
        <div class="ripple__container"></div>
      </button>
    </div>
    <div class="list controls__list list--right-content">
      <button class="button controls__control ripple" id="btn-members" style="background-color: white">
        <img class="icon" src="img/members.svg" alt="members" />
        <div class="ripple__container"></div>
      </button>
      <button class="button controls__control ripple" id="btn-chat" style="background-color: white">
        <img class="icon" src="img/chat.svg" alt="chat" />
        <div class="ripple__container"></div>
      </button>
      <button class="button controls__control ripple" style="background-color: white" id="btn-toggle-info">
        <img class="icon" src="img/info.svg" alt="info-conf-toggle" />
        <div class="ripple__container"></div>
      </button>
    </div>
  </div>
</div>
